.project-mobile {
  display: none;
}

.pm-project-image {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 16px;
}

.pm-meta,
.pm-description,
.pm-videos {
  margin: 20px 0;
}

@media (max-width: 768px) {

  .layout,
  .sidebar-left,
  .sidebar-right {
    display: none;
  }

  .project-mobile {
    display: block;
    padding: 20px;
    padding-bottom: 90px;
  }

}